.reservation {
  height:200px;
  width:250px;
  background:#FFFFFF;
  border-radius: 10px;
  border:3px solid #008080;
  padding:0px 5px 10px 10px;
  display:inline-block;
  margin:10px;
}

.cancel__btn {
  background:#008080;
  color:white;
  cursor:pointer;
}
