.reservation {
  height:210px;
  width:250px;
  background:#FFFFFF;
  border-radius: 10px;
  border:3px solid #008080;
  padding:0px 5px 10px 10px;
  display:inline-block;
  margin:10px;
  font-size:16px;
}

.reservation:hover{
  box-shadow: 0px 0px 5px 10px rgba(0, 128, 128,0.85);
}

.cancel__btn {
  background:#008080;
  color:white;
  cursor:pointer;
  margin-bottom: 10px;
  height:25px;
  line-height: 25px;
  border-radius: 5px;
}
